[user]
  email = dev@parkjb.com
  name = parkjbdev

[credential]
  helper = store

[gpg]
  format = ssh

[commit]
  gpgsign = true

[tag]
  gpgSign = true

[core]
  autocrlf = true
  quotepath = false

[init]
  defaultBranch = main
